.counter-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  background-color: aliceblue;
  margin-top: 10%;
  height: 50vh;
  border-radius: 2rem;
}

.current-number-wrapper {
  width: 50%;
  text-align: center;
}

.control-buttons-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.control-buttons-wrapper {
  /* background-color: aqua; */
  width: 40%;
  margin-top: 20%;
}

.increase-button-wrapper {
  /* background: yellowgreen; */
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.decrease-button-wrapper {
  /* background-color: indigo; */
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  width: 80%;
  border: 0.1rem solid black;
  padding: 0.3rem;
}

.current-number {
  font-weight: bolder;
  font-size: larger;
}

.limit-alert-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  width: 100%;
}

.limit-alert {
  width: 100%;
  height: o.5rem;
  /* background-color: aqua; */
  text-align: center;
}
